//**********************************************//
// Site colours                                 //
//**********************************************//
$base-dark: #04142C;
$base-light: #FFFFFF;
$aqua: #009EB5;
$pink: #B24399;
$purple: #502255;
