//**********************************************//
// Typeography                                  //
//**********************************************//

// set global font size and typeface
* {
  font-size: 16px;
  font-family: effra, sans-serif;
}

p {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

p::before {
  padding-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base-dark;
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 56px;
}

h6 {
  font-size: 56px;
}

a:hover,
a:active {
  color: $aqua;
}

nav {
  ul {
    li {
      font-size: 18px;
      font-weight: 700;
      a {
        color: $base-dark;
      }
    }
  }
}

// add script font for category
@font-face {
  font-family: categoryFont;
  src: url(../../assets/fonts/market-regular.ttf);
}

.category {
  color: $pink;
  font-family: categoryFont;
  font-size: 40px;
}

// define font style for credit section
.credits-title {
  color: $aqua;
  text-transform: uppercase;
}

.credits-name {
  text-transform: uppercase;
}
