//**********************************************//
// Buttons                                      //
//**********************************************//
button {
  background-color: $base-light;
  border: solid 3px $pink;
  margin: 48px 0;
  padding: 15px 16px;
  text-transform: uppercase;
  a {
    color: $pink;
    text-decoration: none;
    font-weight: 700;
  }
}

//**********************************************//
// Social sharing buttons                       //
//**********************************************//

ul#social-sharing {
  display: flex;
  align-content: center;
  justify-content: space-around;
  list-style: none;
  li {
    margin: auto;
  }
}

.social {
  border-radius: 50%;
  display: inline-flex;
  width: 40px;
  height: 40px;
}

.social.share {
  border-radius: 0;
}

.share {
  background-image: url('../../assets/images/share.svg');
}

.facebook {
  background-image: url('../../assets/images/facebook.svg');
}

.twitter {
  background-image: url('../../assets/images/twitter.svg');
}
